
{% extends "baseadministrador.html" %}

{% block title %}
    <script type="text/javascript" src="{{ url_for('static', filename='administradorpanelevento.js') }}"></script>
    <title>adminstradorpanelevento</title>
{% endblock %}


{% block content %}

<div class="wrapper" style="align-items: center;">

    <aside class="main-sidebar sidebar-dark-primary elevation-4"  style="height: 800px;">
      <!-- Brand Logo -->
        <h4 style="color: white; border: 7px solid rgba(124, 137, 140, 0.582);" > Panel evento</h4>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
    
                <li class="nav-item">
                  <a href="{{ url_for ('funcionAdministradorCrearEvento') }}" class="nav-link">
                    <i class="nav-icon far fa-circle text-primary"></i>
                    <p>Nuevo evento</p>
                  </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for ('funcionAdministradorHome') }}" class="nav-link">
                      <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Volver al home</p>
                    </a>
                  </li>

              </ul>
            </li>
        </nav>
        <!-- /.sidebar-menu -->
      </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 63.429%; transform: translate(0px, 14.5312px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
      <!-- /.sidebar -->
    </aside>
    
    
    <div class="content-wrapper" style="min-height: 800px; max-width: 1600px;">
    



<section style="padding-left: 10px;"> 

{% if miParametroVerdadErrorDeEventoInexistente == 1 %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">Ese evento no existe, ha dejado de existir o es de otro administrador.</nav>
{% endif %}

<div class="card mb-4" style="clear: both;">
                                <div class="card-header">
                                    <h3 class="card-title">Eventos:</h3>
                                </div> <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width: 140px">Nombre del evento:</th>
                                                <th>Fecha creación del evento:</th>
                                                <th>Lugar donde se celebra: </th>
                                                <th style="width: 300px">CódigoQR: </th>
                                                <th>Calle:</th>
                                                <th>Numero: </th>
                                                <th>Codigo postal:</th>
                                                <th>Acciones para modificar el evento: </th>
                                            </tr>
                                        </thead>
                                        {% for iteracion in miListaEventosParametro %}
                                        <tbody>
                                            <tr class="align-middle">
                                                <td>{{ iteracion._nombreDelEvento }}</td>
                                                <td>
                                                    {{ iteracion._fechaDeCreacionDelEvento }}
                                                </td>
                                                <td>{{ iteracion._lugarDondeSeCelebra }}</td>
                                                <td>
                                                    <div>{{ parametroURL }}{{ iteracion._codigoQR }}</div>
                                                    <div><a href="{{ url_for ('funcionGenerarCodigoQR', url=iteracion._codigoQR ) }}" class="btn btn-success mb-2"> Generar CodigoQR asistentes </a></div>
                                                    <div><a href="{{ url_for ('funcionGenerarCodigoQR', url=iteracion._codigoQR, correoelectronico=parametroCorreoElectronico ) }}" class="btn btn-warning mb-2"> Generar CodigoQR administradores</a></div>
                                                </td>
                                                <td>{{ iteracion._calle }}</td>
                                                <td>{{ iteracion._numero }}</td>
                                                <td> {{ iteracion._codigoPostal }}</td>
                                                <td>
                                                    <ol class="list-unstyled">
                                                    <li class="mb-2"> <a href="{{ url_for('funcionAdministradorModificarDatosEvento', nombreDelEvento=iteracion._nombreDelEvento, fechaDeCreacionDelEvento=iteracion._fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion._lugarDondeSeCelebra) }}" class="btn btn-primary">Modificar datos del evento</a></li>
                                                    <li class="mb-2"> <a href="{{ url_for('funcionAdministradorModificarRobotsEvento', nombreDelEvento=iteracion._nombreDelEvento, fechaDeCreacionDelEvento=iteracion._fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion._lugarDondeSeCelebra) }}" class="btn btn-primary">Modificar robots del evento</a></li>
                                                    <li class="mb-2"> <a href="{{ url_for('funcionAdministradorPanelEventoBorrar', nombreDelEvento=iteracion._nombreDelEvento, fechaDeCreacionDelEvento=iteracion._fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion._lugarDondeSeCelebra) }}" class="btn btn-primary" id="botonborrarevento{{ loop.index}}">Borrar evento</a></li>
                                                    </ol>
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div> <!-- /.card-body -->
                            </div>



{% if miListaEventosParametro|length == 0 %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">No tienes ningún evento</nav>
{% endif %}





 </section>
{% endblock %}

