
{% extends "baseadministrador.html" %}
{% block title %}
    <title> administradorsignup</title>
    <script type="text/javascript" src="{{ url_for('static', filename='administradorloggin.js') }}"></script>

{% endblock %}


{% block content %}

<div class="container">



 <!--begin::Header-->
<div class="card card-warning card-outline mb-4"> <!--begin::Header-->
                                <div class="card-header">
                                    <div class="card-title">Cree una cuenta en el sistema con un correo eletrónico y una contraseña  
                                    </div>
                                </div> <!--end::Header--> <!--begin::Form-->
                                <form  method="POST"> <!--begin::Body-->
                                    <div class="card-body">
                                        <div class="row mb-3"> <label for="inputEmail3" class="col-sm-2 col-form-label">Introduzca su correo electronico: </label>
                                            <div class="col-sm-10"> {{ miFormularioParametro.correoElectronico }} </div>
                                        </div>
                                        <div class="row mb-3"> <label for="inputPassword3" class="col-sm-2 col-form-label">Introduzca su contrasena: </label>
                                            <div class="col-sm-10"> {{ miFormularioParametro.contrasena }} </div>
                                        </div>
                                        {{ miFormularioParametro.opcionMostrarContrasena }} <label for="opcionMostrarContrasena">Mostrar contrseña</label>
                                    </div> <!--end::Body--> <!--begin::Footer-->
                                    <div class="card-footer"> <button type="submit" class="btn btn-warning">Sign in</button>  </div> <!--end::Footer-->
                                </form> <!--end::Form-->
                            </div>

                        </div>


                            
{% endblock %}