
{% extends "baseadministrador.html" %}


{% block title %}
    <title>administradorpanelgestioncuentas</title>
{% endblock %}


{% block content %}

<div class="wrapper" style="align-items: center;">



<aside class="main-sidebar sidebar-dark-primary elevation-4"  style="height: 800px;">
    <!-- Brand Logo -->
      <h4 style="color: white; border: 7px solid rgba(124, 137, 140, 0.582);" > Panel cuentas</h4>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
  
              <li class="nav-item">
                <a href="{{ url_for ('funcionAdministradorHome') }}" class="nav-link">
                  <i class="nav-icon far fa-circle text-primary"></i>
                  <p>Volver al home</p>
                </a>
              </li>

            </ul>
          </li>
      </nav>
      <!-- /.sidebar-menu -->
    </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 63.429%; transform: translate(0px, 14.5312px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
    <!-- /.sidebar -->
  </aside>



<div class="content-wrapper" style="min-height: 800px; max-width: 1600px;">

<section style="padding-left: 10px;">

<h4> Administradores: </h4>



{% for clave, valor in miParametroDiccionarioAdministradores.items() %}
<div class="card mb-4" style="clear: both;">
    <div class="card-header">
        <h3 class="card-title">Correo electrónico:  {{ clave }}</h3>
        <h3 class="card-title" style="margin-left: 30px;">
            <a href="{{ url_for('funcionAdministradorBorrarCuentaAdministrador', correoelectronico=clave) }}" class="btn btn-primary">Eliminar cuenta</a>
        </h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 350px">Nombre del evento::</th>
                    <th>Fecha de creación del evento:</th>
                    <th>Lugar del evento:</th>
                </tr>
            </thead>
{% for iteracion in valor %}
            <tbody>
                <tr class="align-middle">
                    <td>{{ iteracion.nombreDelEvento }}</td>
                    <td>{{ iteracion.fechaDeCreacionDelEvento }}</td>
                    <td>{{ iteracion.lugarDondeSeCelebra }}</td>
                </tr>
            </tbody>
{% endfor %}
        </table>
    </div>
</div>
{% endfor %}

{% if miParametroDiccionarioAdministradores|length == 0 %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">Actualmente usted es el único administrador en el sistema.</nav>
{% endif %} 

</section>

</div>
</div>
{% endblock %}



