
{% extends "baseadministrador.html" %}

{% block title %}
    <title>administradorhome</title>
{% endblock %}

{% block content %}
<nav>
<!--  Estos botones no los estoy sacando de Admin lte, si no que los estoy haciendo con boostrap.  -->
<!-- class="list-group"  esto me vale para  la lista que cree por defecto con el ol, que no tengo los numeros. -->
 <!-- class="mb-2" esto me vale para aplicar un margin button de 16px o 32 px, depende de la pantalla. -->
    <ol class="list-group">
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorPanelRobot') }}" class="btn btn-primary">Administrar robots</a>
        </li>
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorGestioncuentas') }}" class="btn btn-primary">Administrar cuentas</a>
        </li>
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorPanelEvento') }}" class="btn btn-primary">Administrar eventos</a>
        </li>
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorCerrarSesion') }}" class="btn btn-primary">Cerrar sesión</a>
        </li>
    </ol>
</nav>




<section>



<div class="row">



<div class="col-lg-3 col-6">
<!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">  
            <h3>{{ parametroCantidadDeEventosDelAdministrador }}</h3>       
            <p>Cantidad de eventos a gestionar:</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
    </div>
</div>

<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ parametroCantidadAsistentesEnElSistema }}</h3>
                <p>Cantidad de asistentes:</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>

<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ parametroCantidadDeRobotsEnElSistema }}</h3>
                <p>Cantidad de robots a gestionar: </p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
          </div>

<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ parametroCantidadAsistentesEsperandoEnElSistema }}</h3>
                <p>Cantidad de personas en cola de mis eventos:</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>


          


</div>

<!--- ---------------------otras tarjetas -------------------------->

<div class="row">



  <div class="col-lg-3 col-6">
  <!-- small box -->
      <div class="small-box bg-indigo">
          <div class="inner">
              <h3>{{ parametroCantidadDeEventosEnElSistema }}</h3>           
              <p>Cantidad de eventos en el sistema:</p>
          </div>
          <div class="icon">
              <i class="ion ion-stats-bars"></i>
          </div>
      </div>
  </div>
  
  <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-dark">
                <div class="inner">
                  <h3>{{ parametroCantidadAsistentesEnElSistema }}</h3>
  
                  <p>Cantidad de asistentes en el sistema:</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
              </div>
            </div>
  
  <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-fuchsia">
                <div class="inner">
                  <h3>{{ parametroCantidadDeRobotsEnElSistema }}</h3>
  
                  <p>Cantidad de robots en el sistema: </p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
              </div>
            </div>
  
  <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-secondary">
                <div class="inner">
                  <h3>{{ parametroCantidadAsistentesEsperandoEnElSistema }}</h3>
  
                  <p>Todos los asistentes del sistema que estan en cola:</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
              </div>
            </div>
  
  
            
  
  
  </div>
    
</section>
{% endblock %}

