
{% extends "baseadministrador.html" %}

{% block title %}
    <!---  Lo primero que hago es importar la libreria Jquery para que la pueda usar en mi JS. -->
    <script src="{{ url_for('static', filename='adminlte/plugins/jquery/jquery.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='administradorcreaevento.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/jquery-ui/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/jquery-ui/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/jquery-ui/jquery.theme.css') }}">



    
    <script src="{{ url_for('static', filename='adminlte/plugins/jquery-ui/jquery-ui.js') }}"></script>



    <!---   ESTO ES PARA EL DATE PICKER DEL ADMIN LTE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/fontawesome-free/css/all.min.css') }}">


    
    <!-- Tempus Dominus Bootstrap 4 (Date Picker) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <script src="{{ url_for('static', filename='adminlte/plugins/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js') }}"></script>

    
{% endblock %}

{% block content%}
    <nav> 
        <ol class="list-unstyled">
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorPanelEvento') }}" class="btn btn-primary"> Volver a adminstrar eventos </a></li>
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorHome') }}" class="btn btn-primary">Volver al home </a></li>
        </ol>
    </nav>


    <section>
	<h4> Robots que actualmente están en el evento: </h4>

{% for clave, valor in miDiccionarioRobotsActualmenteEstanEnEvetoParametro.items() %}
<div class="card mb-4" style="clear: both;">
    <div class="card-header">
        <h3 class="card-title">Id del robot: {{ clave.idRobot }} - Mac: {{ clave.macAddressDelRobot }} - Nombre del robot: {{ clave.nombreDelRobot }}</h3>
        <h3 class="card-title">
            <ol class="list-unstyled" style="margin-left: 30px;">
                <li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotModificar', idRobot=clave.idRobot, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra ) }}" class="btn btn-danger">Modificar robot </a></li>
                    {% if valor["subclaveQueBotonEnServicioEs"] == True %}
<li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotPonerServicio', idRobot=clave.idRobot, robotEnServicio=1, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Activar robot</a></li>
                    {% else %}
<li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotPonerServicio', idRobot=clave.idRobot, robotEnServicio=0, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Desactivar robot</a></li>
                    {% endif %}
                    {% if valor["subclavePuedoeliminar"] == True %}
                    <li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotBorrar', idRobot=clave.idRobot, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Borrar robot</a></li> 
                    {% endif %}
            </ol>
        </h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 350px">fecha de comienzo en el evento: </th>
                    <th>fecha de fin en el evento: </th>
                    <th>Accion:</th>
                </tr>
            </thead>
            {% for iteracion in valor["subclaveListas"] %}
            <tbody>
                <form  method="POST" >
                    <tr class="align-middle">
                        <td>
                            <div class="input-group date" id="fechaComienzoEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-target-input="nearest">
                                <input type="text" name="fechaComienzoEnEvento" class="datetimepicker-input" data-target="#fechaComienzoEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" placeholder="{{ iteracion.fechaComienzoEnEvento }}">
                                <div class="input-group-append" data-target="#fechaComienzoEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                        </td>

                        
                        <td> 
                            <div class="input-group date" id="fechaFinEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-target-input="nearest">
                                <input type="text" name="fechaFinEnEvento" class="datetimepicker-input" data-target="#fechaFinEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" placeholder="{{ iteracion.fechaFinEnEvento }}">
                                <div class="input-group-append" data-target="#fechaFinEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>                            
            
                            <input name="robots_idRobot" type="hidden" value="{{ iteracion.robots_idRobot }}">
                            <input name="fechaComienzoEnEventoAntigua" type="hidden" value="{{ iteracion.fechaComienzoEnEvento }}">
                            <input name="fechaFinEnEventoAntigua" type="hidden" value="{{ iteracion.fechaFinEnEvento }}">
                            
                        </td>
                        <td>
                            <button type="submit" name="nameformulariomodificar"  class="btn btn-success">Modificar</button>
                            <button type="submit" name="nameformularioeliminar"  class="btn btn-success">Eliminar fecha</button> 
                        </td>
                    </tr>
                </form>
            </tbody>
            {% endfor %}
            <form  method="POST" >
                <tr class="align-middle">
                    <input type="hidden" value="{{ clave.idRobot }}" name="idRobot"/>
                    <td>
                        <input type="date" id="idFechaComienzoEnEvento" name="fechaComienzoEnEvento">
                        <input type="time" id="idFechaComienzoEnEvento" name="fechaComienzoEnEventoHora">
                    </td>
                    <td>
                        <input type="date" id="idFechaFinEnEvento" name="fechaFinEnEvento">
                        <input type="time" id="idFechaFinEnEvento" name="fechaFinEnEventoHora">
                    </td>
                    <td><button type="submit" name="nameformulariosumarrobot"  class="btn btn-warning">Sumar horario</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>
{% else %}
<nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">En la fecha actual del sistema ese evento, no tiene robots. </nav>
{% endfor %}



<h4> Otros robots que están apuntados al evento:  </h4>
{% for clave, valor in miDiccionarioRobotsActualmenteNoEstanEnEvetoParametro.items() %}
<div class="card mb-4" style="clear: both;">
    <div class="card-header">
        <h3 class="card-title">Id del robot: {{ clave.idRobot }} - Mac: {{ clave.macAddressDelRobot }} - Nombre del robot: {{ clave.nombreDelRobot }}</h3>
        <h3 class="card-title">
            <ol class="list-unstyled" style="margin-left: 30px;">
                {% if valor["subclavePuedoModificar"] == True %}
                <li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotModificar', idRobot=clave.idRobot, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Modificar robot </a></li>
                    {% if valor["subclaveQueBotonEnServicioEs"] == True %}
<li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotPonerServicio', idRobot=clave.idRobot, robotEnServicio=1, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Activar robot</a></li>
                    {% else %}
<li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotPonerServicio', idRobot=clave.idRobot, robotEnServicio=0, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Desactivar robot</a></li>
                    {% endif %}
                {% endif %}
                {% if valor["subclavePuedoeliminar"] == True %}
                    <li class="mb-2" style="float:left; margin-left: 20px;"> <a href="{{ url_for('funcionAdministradorPanelRobotBorrar', idRobot=clave.idRobot, nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-danger">Borrar robot</a></li> 
                {% endif %}
            </ol>
        </h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 350px">fecha de comienzo en el evento: </th>
                    <th>fecha de fin en el evento: </th>
                    <th>Accion:</th>
                </tr>
            </thead>
            {% for iteracion in valor["subclaveListas"] %}
            <tbody>
                <form  method="POST" >
                    <tr class="align-middle">
                        <td>
                            <div class="input-group date" id="fechaComienzoEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-target-input="nearest">
                                <input type="text" name="fechaComienzoEnEvento" class="datetimepicker-input" data-target="#fechaComienzoEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" placeholder="{{ iteracion.fechaComienzoEnEvento }}">
                                <div class="input-group-append" data-target="#fechaComienzoEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                        </td>
                        <td>
                            <div class="input-group date" id="fechaFinEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-target-input="nearest">
                                <input type="text" name="fechaFinEnEvento" class="datetimepicker-input" data-target="#fechaFinEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" placeholder="{{ iteracion.fechaFinEnEvento }}">
                                <div class="input-group-append" data-target="#fechaFinEnEvento_{{ iteracion.robots_idRobot }}_{{ loop.index }}" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>    
                            <input name="robots_idRobot" type="hidden" value="{{ iteracion.robots_idRobot }}">
                            <input name="fechaComienzoEnEventoAntigua" type="hidden" value="{{ iteracion.fechaComienzoEnEvento }}">
                            <input name="fechaFinEnEventoAntigua" type="hidden" value="{{ iteracion.fechaFinEnEvento }}">
                        </td>
                        <td>
                            <button type="submit" name="nameformulariomodificar"  class="btn btn-success">Modificar</button>
                            <button type="submit" name="nameformularioeliminar"  class="btn btn-success">Eliminar fecha</button> 
                        </td>
                    </tr>
                </form>
            </tbody>
            {% endfor %}
            <form  method="POST" >
                <tr class="align-middle">
                    <input type="hidden" value="{{ clave.idRobot }}" name="idRobot"/>
                    <td>
                        <input type="date" id="idFechaComienzoEnEvento" name="fechaComienzoEnEvento">
                        <input type="time" id="idFechaComienzoEnEvento" name="fechaComienzoEnEventoHora">
                    </td>
                    <td>
                        <input type="date" id="idFechaFinEnEvento" name="fechaFinEnEvento">
                        <input type="time" id="idFechaFinEnEvento" name="fechaFinEnEventoHora">
                    </td>
                    <td><button type="submit" name="nameformulariosumarrobot"  class="btn btn-warning">Sumar horario</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>
{% else %}
<nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">El evento no tiene robots en otros momenntos. </nav>
{% endfor %}





<h4> Apartado para sumar robots al evento: </h4>
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Apartado para sumar robots al evento:</h3>
    </div> <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 200px">Id del robot: </th>
                    <th>MAC: </th>
                    <th>fecha de comienzo en el evento: </th>
                    <th>fecha de fin en el evento: </th>
                    <th>Accion:</th>
                </tr>
            </thead>
{% for iteracion in miListaDeSumarRobotParametro %}
            <tbody>
                <form  method="POST" >
                    <!--  el {{ iteracion[0] }} es el numero del idRobot  -->
                    <input type="hidden" value="{{ iteracion[0] }}" name="idRobot"/>
                    <tr class="align-middle">
                        <td>{{ iteracion[0] }}</td>
                        <td>{{ iteracion[1] }}</td>
                        <td>
                            <input type="date" id="idFechaComienzoEnEvento" name="fechaComienzoEnEvento">
                            <input type="time" id="idFechaComienzoEnEvento" name="fechaComienzoEnEventoHora">
                        </td>
                        <td>
                            <input type="date" id="idFechaFinEnEvento" name="fechaFinEnEvento">
                            <input type="time" id="idFechaFinEnEvento" name="fechaFinEnEventoHora">
                        </td>

                        <td><button type="submit" name="nameformulariosumarrobot"  class="btn btn-primary">Sumar robot</button></td>
                </form>
            </tbody>
{% endfor %}
        </table>
        {% if miListaDeSumarRobotParametro|length == 0 %}
        <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">Este evento ya tiene todos los robots del sistema asignados, no hay más que se puedan asignar</nav>
        {% endif %} 
    </div>
</div>


</section>





{% endblock %}

