{% extends "baseadministrador.html" %}


{% block title %}
    <script type="text/javascript" src="{{ url_for('static', filename='administradorcrearobot.js') }}"></script>
    {% if miParametroAccionHtml == "crear"%}
        <title>administradorcrearobot</title>
    {% else %}
        <title>administradoreditardatosrobot</title>
    {% endif %}
{% endblock %}

{% block content%}


<div class="wrapper" style="align-items: center;">

    <aside class="main-sidebar sidebar-dark-primary elevation-4"  style="height: 800px;">
      <!-- Brand Logo -->
        <h4 style="color: white; border: 7px solid rgba(124, 137, 140, 0.582);" > 
          {% if miParametroAccionHtml == "crear"%}
            Crear robot
          {% else %}
            Modificar robot
          {% endif %}
        </h4>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->

                 {% if miParametroNombreDelEvento != None and miParametroFechaDeCreacionDelEvento!= None and miParametroLugarDondeSeCelebra!=None %}
                 <li class="nav-item">
                    <a href="{{ url_for ('funcionAdministradorModificarRobotsEvento', nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="nav-link">
                      <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Volver a adminstrar robots del evento</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url_for ('funcionAdministradorPanelEvento') }}" class="nav-link">
                      <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Volver a adminstrar eventos</p>
                    </a>
                  </li>

                 {% else %}

                 <li class="nav-item">
                    <a href="{{ url_for ('funcionAdministradorPanelRobot') }}"  class="nav-link">
                      <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Volver a administrar robots</p>
                    </a>
                  </li>


                 {% endif %}

                 <li class="nav-item">
                    <a href="{{ url_for ('funcionAdministradorHome') }}" class="nav-link">
                      <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Volver al home</p>
                    </a>
                  </li>

            </li>
        </nav>
        <!-- /.sidebar-menu -->
      </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 63.429%; transform: translate(0px, 14.5312px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
      <!-- /.sidebar -->
    </aside>
    
    
    <div class="content-wrapper" style="min-height: 800px; max-width: 1600px;">


{% if miFormularioParametro.macAddressDelRobot.errors %}
    {% for error in miFormularioParametro.macAddressDelRobot.errors %}
        <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">Error: {{ error }} </nav>
    {% endfor %}
{% endif%}

<div class="container">
    

<div class="card card-primary mt-5">
 <!--begin::Header-->
<div class="card-header">
<div class="card-title">
    {% if miParametroAccionHtml == "crear"%}
        <p> Escriba los datos del nuevo robot: </p>
    {% else %}
        <p> Modifique los datos del robot: </p>
    {% endif %}
 </div>
</div> <!--end::Header--> <!--begin::Form-->
<form  method="POST" enctype="multipart/form-data"> <!--begin::Body-->
<div class="card-body">
{% if miParametroNombreDelEvento != None and miParametroFechaDeCreacionDelEvento!= None and miParametroLugarDondeSeCelebra!=None %}
  <label style="display: none;"> {{ miFormularioParametro.macAddressDelRobot }} </label>
  <div class="mb-3"> <label class="form-label">Esta es la MAC del robot:</label>   <label>{{ parametroMACaddressDelRobot }} </label>
{% else %}
  <div class="mb-3"> <label class="form-label">Introduzca la MAC del robot*:</label> {{ miFormularioParametro.macAddressDelRobot }}
{% endif %}
</div>

<div class="mb-3"> <label  class="form-label">Introduzca el nombre del robot*: </label> {{ miFormularioParametro.nombreDelRobot }} </div>
<div class="mb-3"> <label  class="form-label">Introduzca el una descripcion del robot: </label> {{ miFormularioParametro.descripcionDelRobot }} </div>
<div class="mb-3"> <label  class="form-label">Suba una foto del robot:</label> {{ miFormularioParametro.fotoDelRobot }}   </div>

</div> <!--end::Body--> <!--begin::Footer-->
<div class="card-footer"> <button id="botonEnviarId" type="submit" class="btn btn-primary">Aceptar</button> </div> <!--end::Footer-->
</form> <!--end::Form-->
</div>                           





    
</div>

</div>
</div>





{% endblock %}






