
{% extends "baseadministrador.html" %}


{% block title %}
    <title>administradorpanelrobot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='administradorPanelRobot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adminlte/plugins/select2/css/select2.min.css') }}">
    <script src="{{ url_for('static', filename='adminlte/plugins/jquery/jquery.js') }}"></script>
{% endblock %}


{% block content %}

<div class="wrapper" style="align-items: center;">


    <aside class="main-sidebar sidebar-dark-primary elevation-4"  style="min-height: 800px;">
        <!-- Brand Logo -->
          <h4 style="color: white; border: 7px solid rgba(124, 137, 140, 0.582);" >Panel de los robots</h4>
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
      
                  <li class="nav-item">
                    <a href="{{ url_for('funcionAdministradorCrearRobot') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Dar de alta un robot en el sistema</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url_for('funcionAdministradorHome') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-primary"></i>
                      <p>Volver al home</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url_for('funcionAdministradorPanelRobot') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-success"></i>
                      <p>Robots que no están en ningún evento</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url_for('funcionAdministradorPanelRobot', nombreDelEvento='todosLosRobots', fechaDeCreacionDelEvento='todosLosRobots', lugarDondeSeCelebra='todosLosRobots') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-success"></i>
                      <p>Todos los robots</p>
                    </a>
                  </li>
                  
                  {% for iteracion in miListaDeEventosParametro %}
                  <li class="nav-item">
                    <a href="{{ url_for('funcionAdministradorPanelRobot', nombreDelEvento=iteracion._nombreDelEvento, fechaDeCreacionDelEvento=iteracion._fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion._lugarDondeSeCelebra) }}"  class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>{{ iteracion._nombreDelEvento }} - {{iteracion._fechaDeCreacionDelEvento}} - {{iteracion._lugarDondeSeCelebra}}</p>
                    </a>
                  </li>
                  {% endfor %}


                </ul>
              </li>
          </nav>
          <!-- /.sidebar-menu -->
        </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 63.429%; transform: translate(0px, 14.5312px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
        <!-- /.sidebar -->
      </aside>








<div class="content-wrapper" style="min-height: 800px; max-width: 1600px;">



<section style="padding-left: 10px;">

{% if parametroNombreDelEvento == None %}
  <h4> Robots que no están en ningún evento </h4>
{% else %}
  {% if parametroNombreDelEvento == 'todosLosRobots' %}
    <h4> Todos los robots</h4>

  </form>

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-6 mt-2" data-select2-id="21">
                    <div class="form-group" data-select2-id="20">
                        <label>Buscar robot:</label>
                        {{ miFormularioParametro.campoBuscadorRobotSelect }}

                    </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    {{ miFormularioParametro.campoBuscadorRobotString }}
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-primary">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</form>


  
  {% else %}
    <h4> {{ parametroNombreDelEvento }}</h4>
  {% endif %}
{% endif %}

<div class="card mb-4" style="clear: both;">
                                <div class="card-header">
                                    <h3 class="card-title">Robots:</h3>
                                </div> <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width: 130px">Id del robot: </th>
                                                <th>MAC:</th>
                                                <th>Nombre del robot:</th>
                                                <th>Descripción del robot: </th>
                                                <th>Foto: </th>
                                                {% if miParametroMostrarRobotsNingunEvento == True %}
                                                <th>Acciones: </th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        {% for iteracion in miListaRobotsParametro %}
                                        <tbody>
                                            <tr class="align-middle">
                                                <td>{{ iteracion._idRobot }}</td>
                                                <td>{{ iteracion._macAddressDelRobot }}</td>
                                                <td>{{ iteracion._nombreDelRobot }} </td>
                                                <td>{{ iteracion._descripcionDelRobot }}</td>
                                                <td>
                                                    {% if iteracion._fotoDelRobot != None %}
                                                        <img src="{{ url_for('funcionCapturarImagenRobot', idRobot=iteracion._idRobot) }}" style="max-width: 200px; max-height: 200px; width: auto; height: auto;">
                                                    {% else %}
                                                        <p> No hay foto del robot</p>
                                                    {% endif %}
                                                </td>
                                                {% if miParametroMostrarRobotsNingunEvento == True %}
                                                <td> 
                                                    <ol class="list-unstyled">
                                                        <li class="mb-2"> <a href="{{ url_for('funcionAdministradorPanelRobotModificar', idRobot=iteracion._idRobot) }}" class="btn btn-primary">Modificar robot </a></li>
                                                        <li class="mb-2"> <a href="{{ url_for('funcionAdministradorPanelRobotBorrar', idRobot=iteracion._idRobot) }}" class="btn btn-primary">Borrar robot</a></li>
                                                    </ol>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div> <!-- /.card-body -->
                            </div>


{% if miListaRobotsParametro|length == 0 %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">No hay robots. </nav>
{% endif %}


</section>

<script>
  $(function () {
    $('.select2').select2()
  });
</script>

<script type="text/javascript" src="{{ url_for('static', filename='adminlte/plugins/select2/js/select2.full.min.js') }}"></script>


</div>
</div>
{% endblock %}




