
{% extends "baseadministrador.html" %}

{% block title %}
    <title>administradorhome</title>
{% endblock %}

{% block content %}
<nav>
<!--  Estos botones no los estoy sacando de Admin lte, si no que los estoy haciendo con boostrap.  -->
<!-- class="list-group"  esto me vale para  la lista que cree por defecto con el ol, que no tengo los numeros. -->
 <!-- class="mb-2" esto me vale para aplicar un margin button de 16px o 32 px, depende de la pantalla. -->
    <ol class="list-group">
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorPanelRobot') }}" class="btn btn-primary">Administrar robots</a>
        </li>
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorGestioncuentas') }}" class="btn btn-primary">Administrar cuentas</a>
        </li>
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorPanelEvento') }}" class="btn btn-primary">Administrar eventos</a>
        </li>
        <li class="mb-2">
            <a href="{{ url_for('funcionAdministradorCerrarSesion') }}" class="btn btn-primary">Cerrar sesión</a>
        </li>
    </ol>
</nav>




{% if parametroVerdadHayEventos == False %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">No se puede acceder a Eventos, ya que no hay robots en el sitema, debe crear un robot primero.</nav>
{% endif%}

<section>



<div class="row">



<div class="col-lg-3 col-6">
<!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>{{ parametroCantidadDeEventosTotales }}</h3>           
            <p>Cantidad de eventos Totales:</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
    </div>
</div>

<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ parametroCantidadAsistentesTotales }}</h3>

                <p>Cantidad de asistentes:</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>

<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ parametroCantidadDeRobotsTotales }}</h3>

                <p>Cantidad de robots totales: </p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
          </div>

<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ parametroCantidadAsistentesEsperando }}</h3>

                <p>cantida de personas que estan en cola:</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>


</div>
    
</section>
{% endblock %}

