
{% extends "baseadministrador.html" %}

{% block title %}
    <script type="text/javascript" src="{{ url_for('static', filename='administradorpanelevento.js') }}"></script>
    <title>adminstradorpanelevento</title>
{% endblock %}


{% block content %}
<nav> 
    <ol class="list-unstyled">
        <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorCrearEvento') }}" class="btn btn-primary"> nuevo evento </a></li>
       <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorHome') }}" class="btn btn-primary">Volver al home </a></li> 
    </ol>
</nav>
<section> 

{% if miParametroVerdadErrorDeEventoInexistente == 1 %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">Ese evento no existe, ha dejado de existir o es de otro administrador.</nav>
{% endif %}

<div class="card mb-4" style="clear: both;">
                                <div class="card-header">
                                    <h3 class="card-title">Eventos:</h3>
                                </div> <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width: 140px">Nombre del evento:</th>
                                                <th>Fecha creación del evento:</th>
                                                <th>Lugar donde se celebra: </th>
                                                <th style="width: 300px">CódigoQR: </th>
                                                <th>Calle:</th>
                                                <th>Numero: </th>
                                                <th>Codigo postal:</th>
                                                <th>Acciones para modificar el evento: </th>
                                            </tr>
                                        </thead>
                                        {% for iteracion in miListaEventosParametro %}
                                        <tbody>
                                            <tr class="align-middle">
                                                <td>{{ iteracion.nombreDelEvento }}</td>
                                                <td>
                                                    {{ iteracion.fechaDeCreacionDelEvento }}
                                                </td>
                                                <td>{{ iteracion.lugarDondeSeCelebra }}</td>
                                                <td>
                                                    <div>{{ parametroURL }}{{ iteracion.codigoQR }}</div>
                                                    <div><a href="{{ url_for ('funcionGenerarCodigoQR', url=iteracion.codigoQR ) }}" class="btn btn-success"> Generar CodigoQR </a></div>
                                                </td>
                                                <td>{{ iteracion.calle }}</td>
                                                <td>{{ iteracion.numero }}</td>
                                                <td> {{ iteracion.codigoPostal }}</td>
                                                <td>
                                                    <ol class="list-unstyled">
                                                    <li class="mb-2"> <a href="{{ url_for('funcionAdministradorModificarDatosEvento', nombreDelEvento=iteracion.nombreDelEvento, fechaDeCreacionDelEvento=iteracion.fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion.lugarDondeSeCelebra) }}" class="btn btn-primary">Modificar datos del evento</a></li>
                                                    <li class="mb-2"> <a href="{{ url_for('funcionAdministradorModificarRobotsEvento', nombreDelEvento=iteracion.nombreDelEvento, fechaDeCreacionDelEvento=iteracion.fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion.lugarDondeSeCelebra) }}" class="btn btn-primary">Modificar robots del evento</a></li>
                                                    <li class="mb-2"> <a href="{{ url_for('funcionAdministradorPanelEventoBorrar', nombreDelEvento=iteracion.nombreDelEvento, fechaDeCreacionDelEvento=iteracion.fechaDeCreacionDelEvento, lugarDondeSeCelebra=iteracion.lugarDondeSeCelebra) }}" class="btn btn-primary" id="botonborrarevento{{ loop.index}}">Borrar evento</a></li>
                                                    </ol>
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div> <!-- /.card-body -->
                            </div>



{% if miListaEventosParametro|length == 0 %}
    <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">No tienes ningún evento</nav>
{% endif %}





 </section>
{% endblock %}

