{% extends "baseadministrador.html" %}

{% block title %}
    <script type="text/javascript" src="{{ url_for('static', filename='administradorcreaevento.js') }}"></script>
    {% if miParametroAccionHtml == "crear"%}
        <title>administradorcreaevento</title>
    {% else %}
        <title>administradoreditardatosevento</title>
    {% endif %}

{% endblock %}


{% block content%}
    <nav> 
        <ol class="list-unstyled">
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorPanelEvento') }}" class="btn btn-primary"> Volver a adminstrar eventos </a></li>
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorHome') }}" class="btn btn-primary">Volver al home </a></li>
        </ol>
    </nav>



<div class="container">
    

<div class="card card-primary mt-5">
    <!--begin::Header-->
    <div class="card-header">
        <div class="card-title">
            {% if miParametroAccionHtml == "crear"%}
                <p> Escriba los datos del nuevo evento: </p>
            {% else %}
                <p> Modifique los datos del evento: </p>
            {% endif %}
        </div>
    </div> <!--end::Header--> <!--begin::Form-->


    <form  method="POST"> <!--begin::Body-->
        <div class="card-body">
            {{ miFormularioParametro.fechaDeCreacionDelEvento }}
            <div class="mb-3"> <label  class="form-label">Introdzca el nombre del evento (max. 50 caracteres)*:</label> {{ miFormularioParametro.nombreDelEvento }}  </div>
            <div class="mb-3"> <label  class="form-label">Introdzca el lugar donde se celebra el evento (max. 50 caracteres):</label> {{ miFormularioParametro.lugarDondeSeCelebra }} </div>
            <div class="mb-3"> <label  class="form-label">Introdzca la calle del evento (max. 50 caracteres):</label> {{ miFormularioParametro.calle }} </div>
            <div class="mb-3"> <label  class="form-label">Introdzca el número de la calle del evento (max. 50 caracteres):</label> {{ miFormularioParametro.numero }}   </div>
            <div class="mb-3"> <label  class="form-label">Introdzca el código postal:</label> {{ miFormularioParametro.codigoPostal }}  </div>
            
        </div>
        <div class="card-footer"> <button type="submit" class="btn btn-primary">Aceptar</button> </div> 
    </form>
</div> <!--end::Body--> <!--begin::Footer-->
 <!--end::Form-->



</div>                           

{% endblock %}

