{% extends "baseadministrador.html" %}


{% block title %}
    <script type="text/javascript" src="{{ url_for('static', filename='administradorcrearobot.js') }}"></script>
    {% if miParametroAccionHtml == "crear"%}
        <title>administradorcrearobot</title>
    {% else %}
        <title>administradoreditardatosrobot</title>
    {% endif %}
{% endblock %}

{% block content%}
<nav> 
    <ol class="list-unstyled">
        {% if miParametroNombreDelEvento != None and miParametroFechaDeCreacionDelEvento!= None and miParametroLugarDondeSeCelebra!=None %}
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorModificarRobotsEvento', nombreDelEvento=miParametroNombreDelEvento, fechaDeCreacionDelEvento=miParametroFechaDeCreacionDelEvento, lugarDondeSeCelebra=miParametroLugarDondeSeCelebra) }}" class="btn btn-primary"> Volver a adminstrar robots del evento</a></li>
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorPanelEvento') }}" class="btn btn-primary"> Volver a adminstrar eventos</a></li>
        {% else %}
            <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorPanelRobot') }}" class="btn btn-primary"> Volver a administrar robots</a></li>
        {% endif%}
        <li class="mb-2"> <a href="{{ url_for ('funcionAdministradorHome') }}" class="btn btn-primary">Volver al home</a></li>
    </ol>
</nav>

{% if miFormularioParametro.macAddressDelRobot.errors %}
    {% for error in miFormularioParametro.macAddressDelRobot.errors %}
        <nav class="app-header navbar navbar-expand bg-warning" data-bs-theme="dark">Error: {{ error }} </nav>
    {% endfor %}
{% endif%}

<div class="container">
    

<div class="card card-primary mt-5">
 <!--begin::Header-->
<div class="card-header">
<div class="card-title">
    {% if miParametroAccionHtml == "crear"%}
        <p> Escriba los datos del nuevo robot: </p>
    {% else %}
        <p> Modifique los datos del robot: </p>
    {% endif %}
 </div>
</div> <!--end::Header--> <!--begin::Form-->
<form  method="POST" enctype="multipart/form-data"> <!--begin::Body-->
<div class="card-body">
<div class="mb-3"> <label class="form-label">Introduzca la MAC del robot*:</label> {{ miFormularioParametro.macAddressDelRobot }}
</div>

<div class="mb-3"> <label  class="form-label">Introduzca el nombre del robot*: </label> {{ miFormularioParametro.nombreDelRobot }} </div>
<div class="mb-3"> <label  class="form-label">Introduzca el una descripcion del robot: </label> {{ miFormularioParametro.descripcionDelRobot }} </div>
<div class="mb-3"> <label  class="form-label">Suba una foto del robot:</label> {{ miFormularioParametro.fotoDelRobot }}   </div>

</div> <!--end::Body--> <!--begin::Footer-->
<div class="card-footer"> <button id="botonEnviarId" type="submit" class="btn btn-primary">Aceptar</button> </div> <!--end::Footer-->
</form> <!--end::Form-->
</div>                           





    
</div>





{% endblock %}






