<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/dist/css/adminlte.css') }}">
    <!-- Aparte del css del admin lte, necesito tambien utilizar los iconos con los que trabaja, por lo tanto tengo que irme a esta pagina web para sacarlos de ahi. -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">




    {% block title %}
    
    {% endblock %}
</head>
<body>
    <header>
        <h1>Demostraciones robóticas</h1>
    </header>
    {% block content %}
    {% endblock %}
    <footer> <small> Trabajo de fin de grado Jhon Ferrerosa</small></footer>
</body>
</html>







