<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
	<header> 
		<div> Nombre del evento: {{ miParametroMiEventoNombreDelEvento }}</div>
        <div> Apodo asistente: {{ miParametroApodoAsistente }}</div>
        <div> Estado: {{ miParametroEstado }}</div>
        <div> Id del robot: {{ miParametroIdRobot }}</div>
        <div> Mac del robot: {{ miParametroMac }}</div>
        <div> Correo administrador: {{ miParametroCorreoElectronicoDelAdministrador }}</div>
        <div> CodigoQR: {{ miParametroCodigoQR }}</div>
	</header>



</body>
</html>



