<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>robotlisto</title>
</head>
<body>
	<header> 
		<div> Nombre del evento:  {{ miParametroMiEventoNombreDelEvento }}</div>
        <div> Apodo asistente: {{ miParametroApodoAsistente }}</div>
        <div> Estado propio: Robot listo </div>
        <div> Id del robot: {{ miParametroIdRobot }}</div>
        <div> Mac del robot: {{ miParametroMac }}</div>
        <div> Correo administrador: {{ miParametroCorreoElectronicoDelAdministrador }}</div>
        <div> CodigoQR: {{ miParametroCodigoQR }}</div>

	</header>

    <nav>
        <p> su robot esta listo. </p>
        <a href="{{ url_for('funcion_aceptarRobot', idRobot=miParametroIdRobot, codigoQR=miParametroCodigoQR, correoelectronico=miParametroCorreoElectronicoDelAdministrador) }}"> Aceptar robot para controlarlo. </a>
        <br>
        <a href="{{ url_for('funcion_rechazarRobot', idRobot=miParametroIdRobot, codigoQR=miParametroCodigoQR, correoelectronico=miParametroCorreoElectronicoDelAdministrador) }}"> Rechazar uso del robot </a>
    </nav>



</body>
</html>