<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>robotlisto</title>
</head>
<body>
	<header> 
		<div> Demostraciones robóticas: {{ miParametroMiEventoNombreDelEvento }}</div>
        <div> Demostraciones robóticas: {{ miParametroIdentificadorUnicoAsistente }}</div>
        <div> Demostraciones robóticas: {{ miParametroApodoAsistente }}</div>
	</header>

    <nav>
        <p> su robot esta listo. </p>
        <a href="{{ url_for('funcion_aceptarRobot', idRobot=miRobotParametro.idRobot, codigoQR=miParametroCodigoQR, identificadorUnicoAsistente=miParametroIdentificadorUnicoAsistente) }}"> Aceptar robot para controlarlo. </a>
        <br>
        <a href="{{ url_for('funcion_rechazarRobot', idRobot=miRobotParametro.idRobot, codigoQR=miParametroCodigoQR ,identificadorUnicoAsistente=miParametroIdentificadorUnicoAsistente) }}"> Rechazar uso del robot </a>
    </nav>


    <section>
        <p> Robot asignado: </p>

        <p> ++++++++++ </p>
        <p> Este es el ID:  {{ miRobotParametro.idRobot }}</p>
        <p> Esta es la MAC: {{ miRobotParametro.macAddressDelRobot }}</p>
        <p> Este es el nombre:  {{ miRobotParametro.nombreDelRobot }}</p>
        <p> ---------</p>


    </section>

    <footer>Los derechos del TFG son de Jhon James FERREROSA TRUQUE. </footer>
</body>
</html>