<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>robotlisto</title>
</head>



<body>
    <header> 
        <div> Demostraciones robóticas: {{ miParametroMiEventoNombreDelEvento }}</div>
        <div> Demostraciones robóticas: {{ miParametroIdentificadorUnicoAsistente }}</div>
        <div> Demostraciones robóticas: {{ miParametroApodoAsistente }}</div>
    </header>

    <nav>
        <p> Ya esta controlando el robot </p>
    </nav>


    <section>
        <p> Robot asignado: </p>

        <p> ++++++++++ </p>
        <p> Este es el ID:  {{ miRobotParametro._idRobot }}</p>
        <p> Esta es la MAC: {{ miRobotParametro._macAddressDelRobot }}</p>
        <p> Este es el nombre:  {{ miRobotParametro._nombreDelRobot }}</p>
        <p> ---------</p>


    </section>



    <footer>Los derechos del TFG son de Jhon James FERREROSA TRUQUE. </footer>
</body>