{# en este html, se va a haer una macro que permita ver los campos de los formularios un poco separados y que no queden puestos por encima   #}
{# ademas que esta plantilla de fommulario me va a valer para presentar todos los formularios de la aplicacion.   #}


{% macro renderizarFormulario(parametroCampos) %}
	<div style="margin-bottom: 10px;">
		<dd> {{ parametroCampos.label }}
		<dd> {{ parametroCampos(**kwargs) |safe }}
	</div>
{% endmacro %}

{% macro renderizarBoton() %}
	<input  style="margin-bottom: 10px;margin-left: 20px;"  type="submit" value="Enviar">
{% endmacro %}

