
{% extends "baseadministrador.html" %}


{% block title %}
    <title>administradorpanelrobot</title>
{% endblock %}


{% block content %}
<nav> 
    <ol>
        <li> <a href="{{ url_for ('funcionAdministradorCrearRobot') }}"> nuevo robot </a></li>
        <li> <a href="{{ url_for ('funcionAdministradorHome') }}">Volver al home </a></li>
    </ol>
</nav>

{% if seHaIntentadoBorrarParametro == True %}
    <p> Ese robor no se puede borrar ya que está en servicio, quítelo del servicio para que se pueda borrar.  </p>
{% endif %}

{% if seHaIntentadoModificarParametro == True %}
    <p> Ese robor no se puede modificar ya que está en servicio, quítelo del servicio para que se pueda modificar.  </p>
{% endif %}

<h3> Filtar por evento: </h3>
<a href="{{ url_for('funcionAdministradorPanelRobot', idEvento=0) }}">Todos los robots</a>
{% for iteracion in miListaDeEventosEnLosQueHayRobotsParametro %}
    <a href="{{ url_for('funcionAdministradorPanelRobot', idEvento=iteracion.idEvento) }}">{{ iteracion.nombreDelEvento }}</a>
{% endfor %}


<h1> Robots: </h1>
{% for iteracion in miListaRobotsParametro %}
<p> +++++++++++</p>
    <p>Id del robot: {{ iteracion.idRobot }}</p>
    <p>MAC: {{ iteracion.MACaddressDelRobot }}</p>
    <p>Nombre del robot: {{ iteracion.nombreDelRobot }}</p>
    <p>Evento al que pertentece: {{ iteracion.evento_idEvento }}</p>
    <p>Robot en servicio: {{ iteracion.robotEnServicio }}</p>
    <p>Descripcion del robot: {{ iteracion.descripcionDelRobot }}</p>
    <p>lugar del robot: {{ iteracion.evento_idEvento_relacionRobot.nombreDelEvento }}</p>
    
        {% if iteracion.fotoDelRobot!= None %}
            <p> Si hay fotos del robot. </p>
            <img src="{{ url_for('funcionCapturarImagenRobot', idRobot=iteracion.idRobot) }}" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
        {% else %}
            <p> No hay fotos del robot. </p>
        {% endif %}
    <ol>
        <li> <a href="{{ url_for('funcionAdministradorPanelRobotModificar', idRobot=iteracion.idRobot) }}">Modificar robot</a></li>
        {% if iteracion.robotEnServicio == True %}
            <li> <a href="{{ url_for('funcionAdministradorPanelRobotPonerServicio', idRobot=iteracion.idRobot, robotEnServicio=0) }}">Desactivar robot</a></li>
        {% else %}
            <li> <a href="{{ url_for('funcionAdministradorPanelRobotPonerServicio', idRobot=iteracion.idRobot, robotEnServicio=1) }}">Activar robot</a></li>
        {% endif %}
        <li> <a href="{{ url_for('funcionAdministradorPanelRobotBorrar', idRobot=iteracion.idRobot) }}">Borrar robot</a></li>
    </ol>
    <p> ------------</p>

{% else %}
    <p> Actualmente no hay robots en el sistema. </p>
{% endfor %}

{% endblock %}




