
{% extends "baseadministrador.html" %}

{% block title %}
    <script type="text/javascript" src="{{ url_for('static', filename='administradorcreaevento.js') }}"></script>
    {% if miParametroAccionHtml == "crear"%}
        <title>administradorcreaevento</title>
    {% else %}
        <title>administradoreditardatosevento</title>
    {% endif %}
{% endblock %}



{% block content%}
    <nav> 
        <ol>
            <li> <a href="{{ url_for ('funcionAdministradorPanelEvento') }}"> Volver a adminstrar eventos </a></li>
            <li> <a href="{{ url_for ('funcionAdministradorHome') }}">Volver al home </a></li>
        </ol>
    </nav>

    {% if miParametroAccionHtml == "crear"%}
        <p> Escriba los datos del nuevo evento: </p>
    {% else %}
        <p> Modifique los datos del evento: </p>
    {% endif %}

    {% from "_macroFormulario.html" import renderizarFormulario, renderizarBoton %}
    <div>
        <form  method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ renderizarFormulario(miFormularioParametro.nombreDelEvento) }}
            {{ renderizarFormulario(miFormularioParametro.posiblesEventosAntiguos) }}
            {{ renderizarFormulario(miFormularioParametro.calleDelEvento) }}
            {{ renderizarFormulario(miFormularioParametro.numeroDelEvento) }}
            {{ renderizarFormulario(miFormularioParametro.codigoPostal) }}
            {{ renderizarFormulario(miFormularioParametro.edificioDondeSeCelebra) }}
            {{ renderizarBoton() }}
        </form>
    </div>
{% endblock %}