
{% extends "baseadministrador.html" %}

{% block title %}
    <title>adminstradorpanelevento</title>
{% endblock %}


{% block content %}
<nav> 
    <ol>
        <li> <a href="{{ url_for ('funcionAdministradorCrearEvento') }}"> nuevo evento </a></li>
        <li> <a href="{{ url_for ('funcionAdministradorHome') }}">Volver al home </a></li>
    </ol>
</nav>
<section> 

    {% if seHaIntentadoBorrarParametro == True %}
        <p> Ese evento no se puede borrar ya que contiene robots o asistentes. </p>
    {% endif %}

    {% if seHaIntentadoModificarParametro == True %}
        <p> Ese evento no se puede Modificar ya que contiene asistentes. </p>
    {% endif %}



    <h1> Eventos: </h1>
    {% for iteracion in miListaEventosParametro %}
        <p>Id del evento:  {{ iteracion.idEvento }}</p>
        <p>Nombre del evento: {{ iteracion.nombreDelEvento }}</p>
        <p>Fecha de creación del evento: {{ iteracion.fechaDeCreacionDelEvento.strftime("%Y-%m-%d-%H:%M") }}</p>
        <p>Edificio del evento: {{ iteracion.lugarDelEvento_idLugarDelEvento_relacionEvento.edificioDondeSeCelebra }}</p>
        <p>Calle: {{ iteracion.lugarDelEvento_idLugarDelEvento_relacionEvento.calle }}</p>
        <p>Numero: {{ iteracion.lugarDelEvento_idLugarDelEvento_relacionEvento.numero }}</p>
        <p>Código postal:  {{ iteracion.lugarDelEvento_idLugarDelEvento_relacionEvento.codigoPostal }}</p>

        <ol>
            <li> <a href="{{ url_for('funcionAdministradorModificarDatosEvento', idEvento=iteracion.idEvento) }}">Modificar evento</a></li>
            <li> <a href="{{ url_for('funcionAdministradorPanelEventoBorrar', idEvento=iteracion.idEvento) }}">Borrar evento</a></li>
        </ol>

        <br>
        <br>
    {% else %}
        <p> Actualmente no hay eventos activos. </p>
    {% endfor %}
 </section>
{% endblock %}








