<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='llamaendpointcierranavegador.js') }}"></script>
    <title>esperando. </title>
</head>
<body>

	<header> 
		<div> Demostraciones robóticas: {{ miParametroMiEventoNombreDelEvento }}</div>
	</header>

    <nav>
        <p> Esperando por algún robot. actualiza el navegador para comprobar que tiene algun robot disponible. </p>
    </nav>




    <section>
        <h1> Tabla de los robts en el evento:  </h1>

{% for iteracion in miListaRobotsParametro %}
        <p> +++++++++++</p>
        <p>Id del robot: {{ iteracion.idRobot }}</p>
        <p> {{ iteracion.MACaddressDelRobot }}</p>
        <p> {{ iteracion.nombreDelRobot }}</p>
        <p> {{ iteracion.evento_idEvento }}</p>
        <p>Robot en servicio:  {{ iteracion.robotEnServicio }}</p>
        <p>Ocupando robot: {{ iteracion.asistente_tokenDeSesion }}</p>
        <p> ------------</p>


{% else %}
    <p> Actualmente no hay robots en el sistema. </p>
{% endfor %}

    </section>

    <footer>Los derechos del TFG son de Jhon James FERREROSA TRUQUE. </footer>
</body>
</html>