<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <title>index</title>
</head>
<body>
	<h1>  este es el index. </h1>
	
	<header> eurobot 2025. </header>
	<nav> 
		<a href="{{ url_for ('functionPonerseAlaColaDeControlarUnRobot') }}"> Ponerse a la cola de controlar un robot. </a>
	</nav>
	
	<aside> </aside>
	
	<section>
		<P> Tabla de los robts en el evento:  </p>
		
	</section>
	
	<footer>Los derechos del TFG son de Jhon James FERREROSA TRUQUE. </footer>
</body>
</html>

